#table
    {
      border-collapse: collapse;
    }

#table th, td
    {
      padding: 6px;
      align: center;
    }

#table, th, td
    {
      border: 1px solid #e1e1e1;
    }

#table thead
    {
      background-color: #fcfcfc;
    }
.ytTable
    {
      border-collapse: collapse;
    }

.ytTable th, td
    {
      padding: 6px;
      align: center;
    }

.ytTable, th, td
    {
      border: 1px solid #e1e1e1;
    }

.ytTable thead
    {
      background-color: #ccffff;
    }