#table
    {
      border-collapse: collapse;
    }

#table th, td
    {
      padding: 6px;
      align: center;
    }

#table thead
    {
      background-color: #fcfcfc;
    }
.ytTable
    {
      border-collapse: collapse;
    }

.ytTable th, td
    {
      padding: 6px;
      align: center;
    }

.ytTable thead
    {
      background-color: #fcfcfc;
    }