#table
    {
      border-collapse: collapse;
    }

#table th, td
    {
      padding: 6px;
      align: center;
    }

#table, th, td
    {
      border: 1px solid #e1e1e1;
    }

#table thead
    {
      background-color: #fcfcfc;
    }
.ytTable
    {
      border-collapse: collapse;
    }

.ytTable th, td
    {
      padding: 6px;
      align: center;
    }

.ytTable, th, td
    {
      border: 1px solid #e1e1e1;
    }

.ytTable thead
    {
      background-color: #ccffff;
    }
#rdPost {
  font-size: .9em;
  border: 1px solid #E1E1E8;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  background-color: #F7F7F9;
  margin: 5px 0 0 0;
}
