<div ng-controller="fbCnt">
   <h2>LoftBlog posts in FaceBook</h2>
   <ul ng-repeat="post in feed.data" style="list-style-type:none;">
	<li>
            {{post.message}}<br>
            <img src="{{post.picture}}"></img><br>
            Комментарии:
            <ul ng-repeat="comment in post.comments.data">
                  <li>
                       {{ comment.from.name}}: {{ comment.message }}...............................{{ comment.created_time }}
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(likes: {{ comment.like_count}})
	          </li>
	    </ul>
            <br>
            Likes: {{post.likes.data.total_count}}<br>
            Авторы лайков:
            <div ng-repeat="like in post.likes.data">
                     - {{like.name}}                          <!-- field of edge 'likes' -->
		        </div>
            <br><br>
         </li>
         <hr>
    </ul>
</div>
