<div>
   <h2>Репозитории группы AngularJS 18.01.16 Loftschool</h2>

   <div>
      <h3> {{userOmletina.name}}
         <span>(<a href="{{userOmletina.html_url}}" target="_blank"> {{userOmletina.login}} </a>)</span>
      </h3>
      <div>
         <div>
            <a href="{{ userOmletina.html_url }}" target="_blank">
               <img src="{{ userOmletina.avatar_url }}" width="80" height="80" alt="{{ userOmletina.login }}"></a>
         </div>
      </div>
      <h3>репо '{{repoGetest.name}}'</h3>
      <div>{{repoGetest.description}}</div><br>
      <h3>Commits</h3>
      <div ng-repeat="Omletina_cm in OmletinaCommits">{{Omletina_cm.commit.message}}.................{{Omletina_cm.commit.committer.date}}</div>
      <h3>Comments</h3>
      <div ng-repeat="getest_com in getestComments">{{getest_com.user.avatar_url}}: {{getest_com.body}}.................{{getest_com.date}}</div><hr>
   </div>

   <div>
      <h3> {{igostUser.name}}
         <span>(<a href="{{igostUser.html_url}}" target="_blank"> {{igostUser.login}} </a>)</span>
      </h3>
      <div>
         <div>
            <a href="{{ igostUser.html_url }}" target="_blank">
               <img src="{{ igostUser.avatar_url }}" width="80" height="80" alt="{{ igostUser.login }}"></a>
         </div>
      </div>
      <h3>репо '{{repoCommenter.name}}'</h3>
      <div>{{repoCommenter.description}}</div><br>
      <h3>Commits</h3>
      <div ng-repeat="igost_cm in igostCommits">{{igost_cm.commit.message}}.................{{igost_cm.commit.committer.date}}</div>
      <h3>Comments</h3>
      <div ng-repeat="commenter_com in commenterComments">{{commentercom.user.avatar_url}}: {{commenter_com.body}}.................{{commenter_com.date}}</div><hr>
   </div>

      <div>
      <h3> {{userChernobelenkiy.name}}
         <span>(<a href="{{userChernobelenkiy.html_url}}" target="_blank"> {{userChernobelenkiy.login}} </a>)</span>
      </h3>
      <div>
         <div>
            <a href="{{ userChernobelenkiy.html_url }}" target="_blank">
               <img src="{{ userChernobelenkiy.avatar_url }}" width="80" height="80" alt="{{ userChernobelenkiy.login }}"></a>
         </div>
      </div>
      <h3>репо '{{repoFitnessTracker.name}}'</h3>
      <div>{{repoFitnessTracker.description}}</div><br>
      <h3>Commits</h3>
      <div ng-repeat="Chernobelenkiy_cm in ChernobelenkiyCommits">{{Chernobelenkiy_cm.commit.message}}.................{{Chernobelenkiy_cm.commit.committer.date}}</div>
      <h3>Comments</h3>
      <div ng-repeat="FitnessTracker_com in FitnessTrackerComments">{{FitnessTracker_com.user.avatar_url}}: {{FitnessTracker_com.body}}.................{{FitnessTracker_com.date}}</div><hr>
   </div>

 </div>
