<div>
     <h2>REDDIT</h2>
     <h2>Видеоуроки по программированию от Loftschool</h2>
     <div ng-controller="rdCnt">
         <div id="rdPost" ng-repeat="post in posts.data.children">
             <h3>{{ post.data.title }}</h3>
             автор видеоролика: {{ post.data.author }}<br>
             размещение видеоролика: {{ post.data.domain }}<br>
             <a href="{{ post.data.url }}">посмотреть видеоролик на {{ post.data.domain }}</a><br>
             <span>Коментарии: {{ post.data.num_comments }} </span>
         </div>
     </div>
</div>
