<h3>Посты группы Loftblog в VK.</h3>
<div>
     <button ng-click="vkCntShowPosts()">JavaScript. День 4</button>
</div><br>
<div ng-repeat="post in posts">
     <div>
         {{post.text}}<br><br>
         <button ng-click="vkCntShowComs()">Показать комментарии</button><br>
     </div>
     <div>
         <table id='table' width='100%'>
            <tbody ng-repeat="com in coms">
               <tr>
                 <td align='center'>{{com.from_id}}</td>
                 <td>{{com.text}}</td>
                 <td align='center'>{{com.date}}</td>
               </tr>
            </tbody>
         </table>
     </div>
</div>
<br><br>
<div>
     <button ng-click="vkCntShowPosts2()">JavaScript. День 3</button>
</div><br>
<div ng-repeat="post2 in posts2">
     <div>
          {{post2.text}}<br><br>
          <button ng-click="vkCntShowComs2()">Показать комментарии</button><br>
     </div>
     <div>
         <table id='table' border='0' width='100%'>
            <tbody ng-repeat="com2 in coms2">
               <tr>
                 <td align='center'>{{com2.from_id}}</td>
                 <td>{{com2.text}}</td>
                 <td align='center'>{{com2.date}}</td>
               </tr>
            </tbody>
         </table>
     </div>
</div>