<h2>Комментарии к видеороликам школы Loftblog в YouTube.</h2>
      <br><br>
      <div>
         <div>
            <div>
               <h3>AngularJs - введение</h3>
               <button ng-click="ytCntShowComs()">Показать комментарии</button>
            </div>
            <div ng-if="commentsSize>0">
               <table class='ytTable' border='1' width='100%'>
                 <caption>Comments about video 'AngularJs - введение'</caption>
                 <thead>
                    <tr>
                       <th>comment's author</th>
                       <th>comment</th>
                       <th>time and date</th>
                    </tr>
                 </thead>
                 <tbody ng-repeat="com in comments">
                    <tr>
                       <td>{{com.snippet.topLevelComment.snippet.authorDisplayName}}</td>
                       <td>{{com.snippet.topLevelComment.snippet.textDisplay}}</td>
                       <td>{{com.snippet.topLevelComment.snippet.publishedAt}}</td>
                    </tr>
                 </tbody>
               </table>
            </div>
         </div>
         <br><br>
         <div>
            <div>
                <h3>AngularJs - Services $http</h3>
                <button ng-click="ytCntShowComs2()">Показать комментарии</button>
            </div>
            <div ng-if="commentsSize2>0">
               <table class='ytTable' border='1' width='100%'>
                 <caption>Comments about video 'AngularJs - Services $http' </caption>
                 <thead>
                    <tr>
                       <th>comment's author</th>
                       <th>comment</th>
                       <th>time and date</th>
                    </tr>
                 </thead>
                 <tbody ng-repeat="com2 in comments2">
                    <tr>
                       <td>{{com2.snippet.topLevelComment.snippet.authorDisplayName}}</td>
                       <td>{{com2.snippet.topLevelComment.snippet.textDisplay}}</td>
                       <td>{{com2.snippet.topLevelComment.snippet.publishedAt}}</td>
                    </tr>
                 </tbody>
               </table>
            </div>
         </div>
      </div>
